body {
    background-color: #272A43;
}

.main-div {
    display: flex;
    flex-direction: column;
    height: 98vh;
    align-items: center;
    justify-content: space-around;
}

.text {
    font-family: 'Indie Flower', cursive;
    color: white;
    font-size: 6rem;
}
.s {
    font-size: 3rem;
}

button {
    height: 200px;
    width: 200px;
    font-size: 5rem;
    color:#272A43;
    border: none;
}

.press-simulation {
    height: 300px;
    width: 300px;
    font-size: 10rem;
    background-color:#272A43;
    color: white;
    border: none;
}

.sounds {
    padding: 30px;
    height: 150px;
    width: 95%;
    background-color: #151725;
    display: flex;
    justify-content: left;
    gap: 20px;
}

img {
    width: 150px;
    height: 150px;
    background-color: white;
}

.key-img {
    width: 200px;
    height: 200px;
}

.hidden {
    visibility: hidden;
}